In [11]:
import pymysql
import pandas as pd
from datetime import date, timedelta

In [4]:
connection = pymysql.connect(host = '119.74.24.181', user = 'htx', password = 'Police123456', database = 'ASTRO')

In [5]:
df = pd.read_sql_query("SELECT * FROM astro.scam_management_system", connection)

C:\Users\gengy\AppData\Local\Temp\ipykernel_14948\4218794030.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql_query("SELECT * FROM astro.scam_management_system", connection)

In [12]:
today = date.today()
dates = []
no_of_cases = []

for i in range(30):
    previous_date = today - timedelta(days = i)
    previous_date = previous_date.strftime("%#Y-%#m-%d")
    dates.append(previous_date)

dates.reverse()

for date in dates:
    df_for_this_date = df[df.date_assigned == date]
    no_of_cases_on_this_date = len(df_for_this_date.index)
    no_of_cases.append(no_of_cases_on_this_date)

print(dates)
print(no_of_cases)

['7-3-2023', '8-3-2023', '9-3-2023', '10-3-2023', '11-3-2023', '12-3-2023', '13-3-2023', '14-3-2023', '15-3-2023', '16-3-2023', '17-3-2023', '18-3-2023', '19-3-2023', '20-3-2023', '21-3-2023', '22-3-2023', '23-3-2023', '24-3-2023', '25-3-2023', '26-3-2023', '27-3-2023', '28-3-2023', '29-3-2023', '30-3-2023', '31-3-2023', '1-4-2023', '2-4-2023', '3-4-2023', '4-4-2023', '5-4-2023']
[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [13]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
df.tail()

,report_number,initial_report_number,classification,scam_type,account_bank,account_number,account_phone_number,amount_scammed,amount_transcated,whatsapp_number,online_market_place,remarks,division_assigned,date_assigned,telco_report_number,overseas_local,asc_do,datetime_production_order_served,datetime_bank_account_frozen,date_bank_details_received,account_holder_name,account_holder_nric,acount_holder_phone_number,latest_balance_seized,is_coporate_account,referral_date,division,account_or_paynowlah_number
83896,D/20230501/4291,ASC-pending SOA,Cheating,Job Scam,UOB,7798633162,,5000.0,0.0,None,None,None,E,2023-03-23,E/20230322/2057,L-L,Angela Yap,2023-03-22,2023-03-22,None,HMGLPYCRFVPCNJ,x,,NaN,0,2023-03-22,E,7798633162
83897,D/20180624/9648,ASC-pending SOA,Cheating,Job Scam,UOB,7693984523,,200.0,0.0,None,None,None,J,2023-03-23,J/20230322/2067,L-L,Christo Lim,2023-03-22,2023-03-23,None,SLDXDNXXCTRUVD,x,,NaN,0,2023-03-22,J,7693984523
83898,G/20100725/3779,ASC-pending SOA,Cheating,Job Scam,UOB,7695289890,,4950.0,0.0,None,None,None,J,2023-03-23,J/20230322/2067,L-L,Angela Yap,2023-03-22,2023-03-23,None,CTUUVAWOOHGDTC,x,,NaN,0,2023-03-22,D,7695289890
83899,F/20180623/4801,ASC-pending SOA,Cheating,Job Scam,UOB,7797948598,94362026,52.0,0.0,94041108,None,None,L,2023-03-23,L/20230322/2067,L-L,Angela Yap,2023-03-23,2023-03-23,None,CCDVQDUVWRAKFV,x,,NaN,0,2023-03-23,F,7797948598
83900,G/20130222/4107,ASC-pending SOA,Cheating,Job Scam,UOB,7799864630,87312536,1352.0,0.0,None,None,None,F,2023-03-23,F/20230323/2000,L-L,Angela Yap,2023-03-23,2023-03-23,None,CIUYSXVSIRKGCD,x,,NaN,0,2023-03-23,F,7799864630

In [28]:
df.drop(['initial_report_number', 'account_number', 'account_phone_number', 'whatsapp_number', 'remarks', 'account_holder_name', 'account_holder_nric', 'acount_holder_phone_number', 'account_or_paynowlah_number'], axis = 'columns', inplace=True)
print(df.shape)
print(df.info())

(83901, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83901 entries, 0 to 83900
Data columns (total 19 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   report_number                     83901 non-null  object
 1   classification                    83901 non-null  object
 2   scam_type                         83901 non-null  object
 3   account_bank                      83901 non-null  object
 4   amount_scammed                    83900 non-null  float64
 5   amount_transcated                 5438 non-null   float64
 6   online_market_place               10034 non-null  object
 7   division_assigned                 83732 non-null  object
 8   date_assigned                     83901 non-null  object
 9   telco_report_number               79106 non-null  object
 10  overseas_local                    83900 non-null  object
 11  asc_do                            83901 non-null  object
 12  datetime_production_order_served  78837 non-null  object
 13  datetime_bank_account_frozen      77586 non-null  object
 14  date_bank_details_received        75832 non-null  object
 15  latest_balance_seized             76032 non-null  float64
 16  is_coporate_account               83901 non-null  int64
 17  referral_date                     83899 non-null  object
 18  division                          83901 non-null  object
dtypes: float64(3), int64(1), object(15)
memory usage: 12.2+ MB
None

In [15]:

day_itself = df[df.date_assigned == '23/3/2023']
print(len(day_itself.index))

243

In [1]:
day_itself = df[df.date_assigned == '20/3/2023']
print(len(day_itself.index))

NameError: name 'df' is not defined

In [2]:
#Number of victims
print(len(df.index))

NameError: name 'df' is not defined

In [14]:
today = date.today()
dates = []
no_of_cases = []

for i in range(30):
    previous_date = today - timedelta(days = i)
    previous_date = previous_date.strftime("%#d/%#m/%Y")
    dates.append(previous_date)

dates.reverse()

for date in dates:
    df_for_this_date = df[df.date_assigned == date]
    no_of_cases_on_this_date = len(df_for_this_date.index)
    no_of_cases.append(no_of_cases_on_this_date)

print(dates)
print(no_of_cases)

['1/3/2023', '2/3/2023', '3/3/2023', '4/3/2023', '5/3/2023', '6/3/2023', '7/3/2023', '8/3/2023', '9/3/2023', '10/3/2023', '11/3/2023', '12/3/2023', '13/3/2023', '14/3/2023', '15/3/2023', '16/3/2023', '17/3/2023', '18/3/2023', '19/3/2023', '20/3/2023', '21/3/2023', '22/3/2023', '23/3/2023', '24/3/2023', '25/3/2023', '26/3/2023', '27/3/2023', '28/3/2023', '29/3/2023', '30/3/2023']
[251, 233, 267, 227, 97, 129, 411, 182, 179, 284, 222, 130, 143, 332, 276, 202, 211, 188, 125, 137, 433, 194, 243, 0, 0, 0, 0, 0, 0, 0]

In [5]:
#Number of losses
total_loss = df['amount_scammed'].sum()
print(total_loss)

625751982.2299999

In [58]:
#Victims by bank
df.groupby('bank').size().reset_index(name = 'Victims By Banks')

       bank  Victims By Banks
0  DBS/POSB                18
1      OCBC                 3

In [55]:
#Types of scams
df.loc[3, 'scam_type'] = 'Job Scam'
df.groupby('scam_type').size()

scam_type
E-commerce Scam     1
Job Scam           16
Loan Scam           3
Love                1
dtype: int64

In [ ]:
#Types of scams
df.loc[3, 'scam_type'] = 'Job Scam'
df.groupby('scam_type').size()