In [4]:
import pymysql
import pandas as pd
from datetime import date, timedelta
import numpy as np
# connection = pymysql.connect(host = '119.74.24.181', user = 'htx', password = 'Police123456', database = 'ASTRO')
# df = pd.read_sql_query("SELECT * FROM astro.scam_management_system", connection)

In [ ]:
#figuring out how pandas works 
df.head()

In [8]:
loc = df.loc[0:9, 'report_number']
print(loc)
type(loc)

0    G/20201126/2064
1    D/20110219/9828
2    B/20150715/9514
3    A/20180509/4546
4    C/20110220/9485
5    G/20120718/4122
6    C/20210919/5524
7    E/20201215/6796
8    G/20221123/5880
9    A/20230212/2401
Name: report_number, dtype: object

pandas.core.series.Series

In [40]:
dataframe = pd.DataFrame([[1,2,3], [4,5,6]], index = ["a", 'b'], columns = ["col1", "col2", "col3"])
print(dataframe)
dataframe = pd.DataFrame({'col1': [1,2,3], 'col2':[4,5,6]}, index = ["a", "b", "c"])
print(dataframe)
print(".agg sum", dataframe.agg(["sum"])) #.agg is same as aggregate use .agg
print(".agg min", dataframe.agg(["min"]))

dataframe.transform(lambda x:x+1)

   col1  col2  col3
a     1     2     3
b     4     5     6
   col1  col2
a     1     4
b     2     5
c     3     6
.agg sum      col1  col2
sum     6    15
.agg min      col1  col2
min     1     4

   col1  col2
a     2     5
b     3     6
c     4     7

In [21]:
s = pd.Series({"a":1, "b":2, "c":3})
print(s)
dataframe = pd.DataFrame({'col1': [1,2], 'col2':[3,4], 'col3':[5,6]})
print(dataframe)
print("Number of dimensions in dataframe:", dataframe.ndim) #2D  basically
print("Number of dimesions in Series:", s.ndim) #1D

print("df.size:", dataframe.size) #no. of rows * no. of columns
print("s.size:", s.size) #no. of rows

print("df.shape: (rows, columns)", dataframe.shape)

a    1
b    2
c    3
dtype: int64
   col1  col2  col3
0     1     3     5
1     2     4     6
Number of dimensions in dataframe: 2
Number of dimesions in Series: 1
df.size: 6
s.size: 3
df.shape: (rows, columns) (2, 3)

In [47]:
df = pd.DataFrame({'Animal': ['Falcon', 'Falcon','Parrot', 'Parrot', 'Lion', 'Parrot', 'Parrot'],
                   'Day':  [1, 2, 1, 2, 2, 3, 3], })
print(df)

df.groupby(['Animal', 'Day'], as_index=False).count()

   Animal  Day
0  Falcon    1
1  Falcon    2
2  Parrot    1
3  Parrot    2
4    Lion    2
5  Parrot    3
6  Parrot    3

   Animal  Day
0  Falcon    1
1  Falcon    2
2    Lion    2
3  Parrot    1
4  Parrot    2
5  Parrot    3

In [ ]:
iterables = [['Falcon', 'Parrot', 'Lion'], [1,2,3]]
day_animal = pd.MultiIndex.from_product(iterables, names=["Animal", "Day"])
print(day_animal)
df.set_index(day_animal)
print(df)

In [11]:
print(".index:", df.index)
print(".columns:", df.columns)
print(".axes:", df.axes) #

.index: RangeIndex(start=0, stop=83901, step=1)
.columns: Index(['report_number', 'initial_report_number', 'classification', 'scam_type',
       'account_bank', 'account_number', 'account_phone_number',
       'amount_scammed', 'amount_transcated', 'whatsapp_number',
       'online_market_place', 'remarks', 'division_assigned', 'date_assigned',
       'telco_report_number', 'overseas_local', 'asc_do',
       'datetime_production_order_served', 'datetime_bank_account_frozen',
       'date_bank_details_received', 'account_holder_name',
       'account_holder_nric', 'acount_holder_phone_number',
       'latest_balance_seized', 'is_coporate_account', 'referral_date',
       'division', 'account_or_paynowlah_number'],
      dtype='object')
.axes: [RangeIndex(start=0, stop=83901, step=1), Index(['report_number', 'initial_report_number', 'classification', 'scam_type',
       'account_bank', 'account_number', 'account_phone_number',
       'amount_scammed', 'amount_transcated', 'whatsapp_number',
       'online_market_place', 'remarks', 'division_assigned', 'date_assigned',
       'telco_report_number', 'overseas_local', 'asc_do',
       'datetime_production_order_served', 'datetime_bank_account_frozen',
       'date_bank_details_received', 'account_holder_name',
       'account_holder_nric', 'acount_holder_phone_number',
       'latest_balance_seized', 'is_coporate_account', 'referral_date',
       'division', 'account_or_paynowlah_number'],
      dtype='object')]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 83901 entries, 0 to 83900
Data columns (total 28 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   report_number                     83901 non-null  object
 1   initial_report_number             10123 non-null  object
 2   classification                    83901 non-null  object
 3   scam_type                         83901 non-null  object
 4   account_bank                      83901 non-null  object
 5   account_number                    83901 non-null  object
 6   account_phone_number              83901 non-null  object
 7   amount_scammed                    83900 non-null  float64
 8   amount_transcated                 5438 non-null   float64
 9   whatsapp_number                   14962 non-null  object
 10  online_market_place               10034 non-null  object
 11  remarks                           6793 non-null   object
 12  division_assigned                 83732 non-null  object
 13  date_assigned                     83901 non-null  object
 14  telco_report_number               79106 non-null  object
 15  overseas_local                    83900 non-null  object
 16  asc_do                            83901 non-null  object
 17  datetime_production_order_served  78837 non-null  object
 18  datetime_bank_account_frozen      77586 non-null  object
 19  date_bank_details_received        75832 non-null  object
 20  account_holder_name               83901 non-null  object
 21  account_holder_nric               83901 non-null  object
 22  acount_holder_phone_number        83901 non-null  object
 23  latest_balance_seized             76032 non-null  float64
 24  is_coporate_account               83901 non-null  int64
 25  referral_date                     83899 non-null  object
 26  division                          83901 non-null  object
 27  account_or_paynowlah_number       83901 non-null  object
dtypes: float64(3), int64(1), object(24)
memory usage: 17.9+ MB

In [ ]:
df_day = by_day.rename_axis('date').reset_index(name = 'no_of_cases_per_day')

days = df_day['date'].tolist()
no_of_cases_day = df_day['no_of_cases_per_day'].tolist() 

### Getting 'week - scam count' data
df_day['date'] = pd.to_datetime(df_day['date']) - pd.to_timedelta(7, unit='d')
df_week = df_day.groupby([pd.Grouper(key='date', freq='W')])['no_of_cases_per_day'].sum().reset_index(name = 'no_of_cases_per_week')

df_week['date'] = df_week['date'].dt.strftime('%Y-%m-%d')

weeks = df_week['date'].tolist()
no_of_cases_week = df_week['no_of_cases_per_week'].tolist()

KeyError: 'Month'